<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Pay tickets</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/ticket/payTickets.css">
    <style>
        .messErrorP {
            color: #DB4437;
            border: solid .5em #DB4437;
            border-radius: 1em;
            padding: 15px;
            font-family: system-ui;
            font-size: 13px;
            font-weight: bold;
            width: 100%;
            max-width: 600px;
            margin: 25px auto;
            line-height: 1.5;
            text-align: center;
        }
        .messErrorP i {
            font-style: italic;
        }
        .messErrorA {
            text-decoration: none;
            border: solid 5px #F18720;
            color: #F18720;
        }
        .btn-danger {
            background-color: #F18720;
            color: white;
            font-size: 13px;
        }
    </style>
</head>
<body>
<div th:include="layout/header"></div>


<div class="containerr">
    <div class="container-bg">
        <h3 id="h3ThanhToan" style="margin-bottom: 1em;">THANH TOÁN</h3>
        <h4 style="text-align: center; font-size: 30px; font-family: system-ui; font-weight: bold;
            color: white; margin-bottom: 0;">THỜI GIAN GIỮ VÉ: <span id="timeOut" style="text-align: center;
                                      font-size: 30px; font-family: system-ui; font-weight: bold; color: white;"></span></h4>
        <p class="messErrorP">

            <div th:value="${errorMessage}"></div>
            <br/><br/>
            <a class="btn btn-danger messErrorA btn-xs" href="Showtime">QUAY LẠI - BACK</a>
        </p>
        <div class="d-flex flex-wrap div-Tong">
            <div class="div-thongTin">
                <h3>THÔNG TIN THANH TOÁN</h3>

                <table class="table">
                    <tr>
                        <td>Tên khách hàng:</td>
                        <td th:text="${ticketHienTai.userEmail.name}"></td>
                    </tr>
                    <tr>
                        <td>Email khách hàng:</td>
                        <td th:text="${ticketHienTai.userEmail.email}"></td>
                    </tr>
                    <tr>
                        <td>Tên phim:</td>
                        <td th:text="${ticketHienTai.showtimeId.movieId.movieTitle}"></td>
                    </tr>
                    <tr>
                        <td>Thể loại:</td>
                        <td th:text="${ticketHienTai.showtimeId.movieId.movieCategory}"></td>
                    </tr>
                    <tr>
                        <td>Suất chiếu:</td>
                        <td>
                            <span th:text="${gio}"></span>
                            <span th:text="${ngay}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Rạp:</td>
                        <td th:text="${ticketHienTai.showtimeId.roomId.threatId.name}"></td>
                    </tr>
                    <tr>
                        <td>Ghế:</td>
                        <td>
                            <ul id="hienThiGhe">
                                <li th:each="s : ${listS}">
                                    <span th:text="${s.seatId.rowId.rowNo + s.seatId.seatNo}"></span> = <span th:text="${s.price}"></span> VNĐ
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <th:block th:if="${not #lists.isEmpty(listWC)}">
                        <tr>
                            <td>Bắp nước:</td>
                            <td>
                                <ul id="hienThiBapNuoc">
                                    <li th:each="wc : ${listWC}">
                                        <span th:text="${wc.idWaterCorn.nameWaterCorn}"></span> X <span th:text="${wc.soLuong}"></span> = <span th:text="${wc.unitPrice}"></span> VNĐ
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </th:block>
                    <tr>
                        <td colspan="2" id="tc">TỔNG CỘNG:  VNĐ</td>
                        <td colspan="2" id="tc">TỔNG CỘNG: <span th:text="${ticketHienTai.totalPrice}"></span> VNĐ</td>
                    </tr>
                </table>
<!--                <p id="chonMaGiamGia">CHỌN MÃ GIẢM GIÁ</p>-->
<!--                <div id="div-select-option">-->
<!--                    <select class="notranslate seOp">-->
<!--                        <option value="chonMa">-&#45;&#45; CHỌN MÃ -&#45;&#45;</option>-->
<!--                        <option th:each="c : ${couponsUser}" th:value="${c.couponId}" th:text="${c.couponId + ':' + c.priceDiscound}"></option>-->
<!--                    </select>-->
<!--                </div>-->
            </div>
            <div class="div-phuongThucThanhToan">
                <h3>CHỌN PHƯƠNG THỨC THANH TOÁN</h3>
                <div id="paypal-button"></div>
                <div class="card-body">
                    <img src="https://inkythuatso.com/uploads/thumbnails/800/2021/12/vnpay-logo-inkythuatso-01-13-16-29-51.jpg" style="width: 200px">
                    <form th:action="@{/guest/submitOrder}" method="post">
                        <div class="form-group">
<!--                            <label for="amount">Số tiền:</label>-->
                            <input type="hidden" class="form-control" id="amount" name="amount" th:value="${ticketHienTai.totalPrice}">
                        </div>
                        <div class="form-group">
<!--                            <label for="orderInfo">Thông tin đơn hàng:</label>-->
                            <input type="hidden" class="form-control" id="orderInfo" name="orderInfo"  th:value="'Vé xem phim ' + ${ticketHienTai.showtimeId.movieId.movieTitle}">
                        </div>
                        <button type="submit" class="btn btn-primary">Thanh toán</button>
                    </form>
                </div><!--                <form id="myForm" class="myForm" method="POST" target="_blank" enctype="application/x-www-form-urlencoded" action="https://test-payment.momo.vn/qr/index.php">-->
<!--                    <div style="display: none">-->
<!--                        <div class="form-group row">-->
<!--                            <div class="col-sm-6" hidden>-->
<!--                                <label for="fxRate">PartnerCode</label>-->
<!--                                <div id="fxRate">-->
<!--                                    <input type="text" class="form-control" name="partnerCode" value="MOMOBKUN20180529"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-3" hidden>-->
<!--                                <label for="fxRate">AccessKey</label>-->
<!--                                <div id="fxRate">-->
<!--                                    <input type="text" class="form-control" name="accessKey" value="klm05TvNBzhg7h7j"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-3" hidden>-->
<!--                                <label for="fxRate">SecretKey</label>-->
<!--                                <div id="fxRate" hidden>-->
<!--                                    <input type="text" class="form-control" name="secretKey" value="at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group row" hidden>-->
<!--                            <div class="col-sm-3">-->
<!--                                <label for="fxRate">OrderId</label>-->
<!--                                <div id="fxRate">-->
<!--                                    <input type="text" class="form-control" name="orderId" value="1630640985"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group row">-->
<!--                            <div class="col-sm-6">-->
<!--                                <label for="fxRate">NotifyUrl</label>-->
<!--                                <div id="fxRate">-->
<!--                                    <input id="urlNotifyMoMo" type="text" class="form-control" name="notifyUrl" value="http://localhost:8080/Cinestar-war/"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-sm-6">-->
<!--                                <label for="fxRate">ReturnUrl</label>-->
<!--                                <div id="fxRate">-->
<!--                                    <input id="urlReturnMoMo" type="text" class="form-control" name="returnUrl" value="http://localhost:8080/Cinestar-war/PayServlet?action=checkThanhToan&it=${ticketHienTai.ticketId}&maGiamGia=chonMa"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="form-group" hidden>-->
<!--                            <label for="fxRate">ExtraData</label>-->
<!--                            <div id="fxRate">-->
<!--                                <input type="text" class="form-control" name="extraData" value="merchantName=Cinestar"/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="row" style="width: 100%;margin: 10px auto">-->
<!--                        <div class="col-sm-6" hidden>-->
<!--                            <label for="fxRate" class="fs-1">OrderInfo</label>-->
<!--                            <div id="fxRate">-->
<!--                                <input type="text" class="form-control" name="orderInfo" form="myForm" th:value="'Vé xem phim ' + ${ticketHienTai.showtimeId.movieId.movieTitle}" readonly/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-6" hidden>-->
<!--                            <label for="fxRate" class="fs-1">Amount</label>-->
<!--                            <div id="fxRate">-->
<!--                                <input id="ip-amount" type="text" class="form-control" name="amount" th:value="${ticketHienTai.totalPrice}" form="myForm" readonly/>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="col-sm-12" style="margin-top: 1em;">-->
<!--                            <button type="submit" class="btn btn-lg button-momo" form="myForm">Thanh toán MoMo</button>-->
<!--                            <img src="https://developers.momo.vn/images/logo.png" width="50px" />-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </div>
        <div th:include="layout/contact"></div>
    </div>
</div>
<div th:include="layout/footer"></div>x`xxxxx

<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        // if (session.getAttribute("outTimeTicket") == null) {
        //     session.setAttribute("outTimeTicket", new Date().getTime() + (15 * 60 * 1000));
        //     }
        // var countDownDate =  session.getAttribute("outTimeTicket");
        // var x = setInterval(function () {
        //     var now = new Date().getTime();
        //     var distance = countDownDate - now;
        //     var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        //     var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        //     document.getElementById("timeOut").innerHTML = minutes + ":" + seconds;
        //     if (distance < 0) {
        //         clearInterval(x);
        //         window.location.href = "PayServlet?action=thoiGianGiuVe";
        //     }
        // }, 1000);
    });

    var tongGiaCuoiCung = parseInt(${ticketHienTai.getTotalPrice()} / 22787);
    var select_optionBefore = "";
    $(".seOp").change(function () {
        var maGiamGia = $(".seOp option:selected").html().split(":")[1];
        if ($(".seOp option:selected").val() != "chonMa") {
            if (${ticketHienTai.getTotalPrice()} - maGiamGia < 0) {
                alert("Mã giảm giá chỉ áp dụng với đơn hàng có tổng giá tiền lớn hơn hoặc bằng mã giảm giá\n - The discount code is only applicable to orders with a total price greater than or equal to the discount code -");
                $(".seOp option[value=" + select_optionBefore + "]").prop('selected', true);
            } else {
                $("#tc").html("TỔNG CỘNG: " + (${ticketHienTai.getTotalPrice()} - maGiamGia) + " VNĐ");
                tongGiaCuoiCung = parseInt(((Number)(${ticketHienTai.getTotalPrice()} - maGiamGia)) / 22787);
                select_optionBefore = $(".seOp option:selected").html().split(":")[0];
                $("#ip-amount").val(${ticketHienTai.getTotalPrice()} - maGiamGia);
                $("#urlReturnMoMo").val("http://localhost:8080/Cinestar-war/PayServlet?action=checkThanhToan&it=" + ${ticketHienTai.getTicketId()} + "&maGiamGia=" + $(".seOp option:selected").val());
            }
        } else {
            $("#tc").html("TỔNG CỘNG: " + ${ticketHienTai.getTotalPrice()} + " VNĐ");
            // Calculate the final price by converting the server-side total price to an integer
            var tongGiaCuoiCung = parseInt(${ticketHienTai.getTotalPrice()}) / 22787;

            select_optionBefore = "chonMa";
            $("#ip-amount").val(${ticketHienTai.getTotalPrice()});
            $("#urlReturnMoMo").val("http://localhost:8080/Cinestar-war/PayServlet?action=checkThanhToan&it=" + ${ticketHienTai.getTicketId()} + "&maGiamGia=");
        }
    });

    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AYjsqsGPCffv-niyJYub6xbIQA_8dhRTJbGG0HWVk8p7VX3GR8iOzMEk1HfgkKNw1wWScgXnt0OSC6Pv',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
            size: 'large',
            color: 'gold',
            shape: 'pill',
            label: 'paypal'
        },
        // Enable Pay Now checkout flow (optional)
        commit: true,
        // Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: tongGiaCuoiCung,
                        currency: 'USD'
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function () {
                // Show a confirmation message to the buyer
                window.location = "PayServlet?action=checkThanhToan&it=" + ${ticketHienTai.getTicketId()}
                    + "&maGiamGia=" + $(".seOp option:selected").val();
            });
        }
    }, '#paypal-button');

</script>
</body>
</html>
